body{
	background: #eee;
}

#conteudo{
	width: 400px;
	background: #fff;
	padding: 20px;
	padding top: 0;
	font - font-family: 'Courier New', Courier, monospace;
	font size: 18px;
	color: #444;
	margin: 0 auto;
	max-height: 270px;
	overflow: hidden;


	-webkit-transition: max-height 0.7s;
	-moz-transition: max-height 0.7s;
	transition: max-height 0.7s;
}

#conteudo.open{
	max-height: 1000px;


		-webkit-transition: max-height 0.7s;
	-moz-transition: max-height 0.7s;
	transition: max-height 0.7s;
}

#mostre_mais{
	background: #1594e7;
	color: #fff;
	font - font-family: 'Courier New', Courier, monospace;
	display: block;
	width: 210px;
	font-size: 24px;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin: 20px auto;
	cursor: pointer;
}